<!DOCTYPE html>
<html>
<head>
    <title>Detalles del Emprendimiento</title>
    <style>
        #map {
            height: 400px; /* Tamaño del mapa */
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>{{ emprendimiento.nombre }}</h1>
    <p><strong>Descripción:</strong> {{ emprendimiento.descripcion }}</p>
    <p><strong>Categoría:</strong> {{ emprendimiento.categoria }}</p>
    <p><strong>Dirección:</strong> {{ emprendimiento.direccion }}</p>
    <p><strong>Contacto:</strong> {{ emprendimiento.contacto }}</p>
    
    <div id="map">
        {{ emprendimiento.mapa_html|safe }}
    </div>
</body>
</html>
