{% extends "base.html" %}

{% block title %}Emprendimientos{% endblock %}

{% block content %}

  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <h6>¡Mira los emprendimeintos con los que trabajamos!</h6>
            <h2>Emprendimientos según categorías</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="listing-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="first-thumb {% if categoria == 'ropa' %}active{% endif %}">
                      <div class="thumb" id="altura">
                        <span class="icon"><img src="{{ url_for('static', filename='images/search-icon-01.png') }}" alt=""></span>
                        Ropa
                      </div>
                    </div>
                    <div class="thumb {% if categoria == 'comida' %}active{% endif %}">
                      <div class="thumb" >                 
                        <span class="icon"><img src="{{ url_for('static', filename='images/search-icon-02.png') }}" alt=""></span>
                        Comida
                      </div>
                    </div>
                    <div  class="thumb {% if categoria == 'regalos' %}active{% endif %}">
                      <div class="thumb">                 
                        <span class="icon"><img src="{{ url_for('static', filename='images/search-icon-03.png') }}" alt=""></span>
                        Regalos
                      </div>
                    </div>
                    <div  class="thumb {% if categoria == 'experiencias' %}active{% endif %}">
                      <div class="thumb">                 
                        <span class="icon"><img src="{{ url_for('static', filename='images/search-icon-04.png') }}" alt=""></span>
                        Experiencias
                      </div>
                    </div>
                    <div class="thumb {% if categoria == 'mascotas' %}active{% endif %}">
                      <div class="thumb">                 
                        <span class="icon"><img src="{{ url_for('static', filename='images/search-icon-05.png') }}" alt=""></span>
                        Mascotas
                      </div>
                    </div>
                    <div class="last-thumb {% if categoria == 'busqueda' %}active{% endif %}">
                      <div class="thumb">                 
                        <span class="icon"><img src="{{ url_for('static', filename='images/search-icon-06.png') }}" alt=""></span>
                        Búsqueda
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="col-lg-9">
                  <ul class="nacc">
                  <!-- first category listing of items -->
                    <li class="{% if categoria == 'ropa' %}active{% endif %}">
                      <div>
                        <div class="col-lg-12">
                          <div class="owl-carousel owl-listing">
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/modaurbana.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Moda Urbana</h4></a>
                                      <h6>Urban Style Co.</h6>
                                      <span class="details">Ropa casual y moderna</span>
                                      <span class="info">Explora nuestra colección de ropa urbana que combina estilo y confort. <br>¡Perfecto para tu día a día!</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/ropaelegante.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Elegancia Clásica</h4></a>
                                      <h6>Classic Elegance</h6>
                                      <span class="details">Ropa formal y elegante</span>
                                      <span class="info"> Descubre trajes y vestidos que resaltan tu elegancia en cada ocasión. <br>¡Diseños exclusivos y atemporales!</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/ropadeportiva.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Estilo Deportivo</h4></a>
                                      <h6>Sporty Chic</h6>
                                      <span class="details">Ropa deportiva de alto rendimiento</span>
                                      <span class="info"> Descubre nuestra colección de ropa deportiva diseñada para maximizar tu rendimiento y estilo. <br>¡Perfecto para cualquier actividad física!</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/altacostura.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Alta Costura</h4></a>
                                      <h6>Élite Couture</h6>
                                      <span class="details">Diseño exclusivo a medida</span>
                                      <span class="info"> Sumérgete en el lujo de nuestra alta costura, donde cada pieza es una obra de arte diseñada para resaltar tu elegancia y sofisticación. <br>Desde vestidos de gala hasta trajes a medida, cada detalle está cuidadosamente elaborado para cumplir con los más altos estándares de calidad y estilo</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-02.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 5</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-03.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 6</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <!-- third page of first category -->
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-01.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 7</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-02.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 8</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-03.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 9</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    
                  <!-- second category listing of items -->
                    <li class="{% if categoria == 'comida' %}active{% endif %}">
                      <div>
                        <div class="col-lg-12">
                          <div class="owl-carousel owl-listing">
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/comidaorganica.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Sabor Natural</h4></a>
                                      <h6>Organic Delights</h6>
                                      <span class="details">Comida orgánica y saludable</span>
                                      <span class="info"> Disfruta de alimentos frescos y naturales, cultivados sin químicos. <br>¡Perfecto para una dieta saludable!</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/comidavegana.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}""><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Delicias Veganas</h4></a>
                                      <h6>Green Gourmet</h6>
                                      <span class="details">Comida vegana y saludable</span>
                                      <span class="info"> Disfruta de una variedad de platos veganos que no solo son deliciosos, sino también saludables y nutritivos. <br>¡Para todos los gustos!</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/comidainternacional.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Sabores del Mundo</h4></a>
                                      <h6>Global Eats</h6>
                                      <span class="details">Cocina internacional</span>
                                      <span class="info"> Viaja por el mundo a través de nuestros platos que representan diferentes culturas y tradiciones culinarias. <br>¡Una experiencia gastronómica única!</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <!-- second category second page -->
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/dulces.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Postres Artesanales</h4></a>
                                      <h6>Dulce Tentación</h6>
                                      <span class="details">Delicias dulces hechas a mano</span>
                                      <span class="info"> Disfruta de nuestros postres únicos y artesanales que te harán viajar a través de sabores y texturas inolvidables. <br>Desde tortas exquisitas hasta pequeños dulces, cada creación es una obra maestra de la repostería artesanal.</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-04.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 14</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-03.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 15</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </li>
                    
                    <!-- third category first page -->
                    <li class="{% if categoria == 'regalos' %}active{% endif %}">
                      <div>
                        <div class="col-lg-12">
                          <div class="owl-carousel owl-listing">
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-05.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 16</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-04.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 17</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-03.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 18</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <!-- third category second page -->
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-01.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 19</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-02.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 20</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-06.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 21</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <!-- third category third page -->
                            <!-- NONE -->
                            
                            
                          </div>
                        </div>
                      </div>
                    </li>
                    
                    <!-- 4th category 1st page -->
                    <li class="{% if categoria == 'experiencias' %}active{% endif %}">
                      <div>
                        <div class="col-lg-12">
                          <div class="owl-carousel owl-listing">
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-06.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 22</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-04.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 23</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-03.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 24</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <!-- 4th category 2nd page -->
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-05.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 25</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-06.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 26</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-03.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 27</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <!-- 4th category 3rd page -->
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-06.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 28</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <!-- fifth category listing of items -->
                    <li class="{% if categoria == 'mascotas' %}active{% endif %}">
                      <div>
                        <div class="col-lg-12">
                          <div class="owl-carousel owl-listing">
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-04.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 29</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-05.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 30</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-03.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 31</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <!-- second category second page -->
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-05.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 32</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-04.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 33</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-03.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 34</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </li>


                    <!-- categoria para las busquedas -->
                    <li class="{% if categoria == 'busqueda' %}active{% endif %}">
                      <div>
                        <div class="col-lg-12">
                          <div class="owl-carousel owl-listing">
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-04.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 35</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-05.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 36</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-03.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 37</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <!-- second category second page -->
                            <div class="item">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-05.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 38</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-04.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 39</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12">
                                  <div class="listing-item">
                                    <div class="left-image">
                                      <a href="#"><img src="{{ url_for('static', filename='images/listing-03.jpg') }}" alt=""></a>
                                      <div class="hover-content">
                                        <div class="main-white-button">
                                          <a href="{{ url_for('contacto') }}"><i class="fa fa-eye"></i> Instagram</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="right-content align-self-center">
                                      <a href="#"><h4>Emprendimiento 340</h4></a>
                                      <h6>nombre emprendimiento</h6>
                                      <span class="details">Detalles</span>
                                      <span class="info"> bla bla <br>bla bla</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                    </li>
                  
                    
                  </ul>
                  
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}