{% extends "base.html" %}

{% block title %}Error 404{% endblock %}

{% block content %}
<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-content custom-error-text">
                    <h4>Error 404</h4>
                    <h2>Lo sentimos, la página que estás buscando no se ha encontrado.</h2>
                    <p>Parece que la página que intentas buscar no existe. Puede ser que hayas ingresado una URL incorrecta o que la página haya sido eliminada.</p>
                    <p>Por favor, verifica la dirección URL e intenta nuevamente.</p>
                    <p>Si crees que esto es un error, por favor <a href="{{ url_for('contacto') }}">contáctanos</a>.</p>
                    <a href="{{ url_for('index') }}" class="main-button">Regresar a la página de inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
