{% extends "base.html" %}

{% block title %}Emprendé Fácil{% endblock %}

{% block content %}

<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-text header-text">
          <h6>500+ opciones</h6>
          <h2>Encontra el emprendimiento ideal</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <form id="search-form" name="gs" method="submit" role="search" action="#">
          <div class="row">
            <div class="col-lg-3 align-self-center">
                <fieldset>
                    <select name="area" class="form-select" aria-label="Area" id="chooseCategory" onchange="this.form.click()">
                        <option selected>Categorías</option>
                        <option value="Ropa">Ropa</option>
                        <option value="Comida">Comida</option>
                        <option value="Regalos">Regalos</option>
                        <option value="Experiencias">Experiencias</option>
                        <option value="Mascotas">Mascotas</option>
                    </select>
                </fieldset>
            </div>
            <div class="col-lg-3 align-self-center">
                <fieldset>
                    <input type="palabra" name="palabra" class="searchText" placeholder="Busca por palabra clave" autocomplete="on">
                </fieldset>
            </div>
            <div class="col-lg-3 align-self-center">
                <fieldset>
                    <select name="price" class="form-select" aria-label="Default select example" id="chooseCategory" onchange="this.form.click()">
                        <option selected>Rango de precio</option>
                        <option value="$100 - $250">$100 - $250</option>
                        <option value="$250 - $500">$250 - $500</option>
                        <option value="$500 - $1000">$500 - $1,000</option>
                        <option value="$1000+">$1,000 o más</option>
                    </select>
                </fieldset>
            </div>
            <div class="col-lg-3">                        
                <fieldset>
                    <button class="main-button"><i class="fa fa-search"></i>Buscar</button>
                </fieldset>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-10 offset-lg-1">
        <ul class="categories">
          <li><a href="{{ url_for('app.emprendimientos', categoria='ropa') }}#altura"><span class="icon"><img src="{{ url_for('static', filename='images/search-icon-01.png') }}" alt="Ropa"></span> Ropa</a></li>
          <li><a href="{{ url_for('app.emprendimientos', categoria='comida') }}#altura"><span class="icon"><img src="{{ url_for('static', filename='images/search-icon-02.png') }}" alt="Comida"></span> Comida</a></li>
          <li><a href="{{ url_for('app.emprendimientos', categoria='regalos') }}#altura"><span class="icon"><img src="{{ url_for('static', filename='images/search-icon-03.png') }}" alt="Regalos"></span> Regalos</a></li>
          <li><a href="{{ url_for('app.emprendimientos', categoria='experiencias') }}#altura"><span class="icon"><img src="{{ url_for('static', filename='images/search-icon-04.png') }}" alt="Experiencias"></span> Experiencias</a></li>
          <li><a href="{{ url_for('app.emprendimientos', categoria='mascotas') }}#altura"><span class="icon"><img src="{{ url_for('static', filename='images/search-icon-05.png') }}" alt="Mascotas"></span> Mascotas</a></li>
        </ul>      
      </div>
    </div>
  </div>
</div>


<div class="popular-categories">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Categorías populares</h2>
          <h6>Echales un vistazo</h6>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="naccs">
          <div class="grid">
            <div class="row">
              <div class="col-lg-3">
                <div class="menu">
                  <div class="first-thumb active">
                    <div class="thumb">
                      <span class="icon"><img src="{{ url_for('static', filename='images/search-icon-01.png') }}" alt=""></span>
                      Ropa
                    </div>
                  </div>
                  <div>
                    <div class="thumb">                 
                      <span class="icon"><img src="{{ url_for('static', filename='images/search-icon-02.png') }}" alt=""></span>
                      Comida
                    </div>
                  </div>
                  <div>
                    <div class="thumb">                 
                      <span class="icon"><img src="{{ url_for('static', filename='images/search-icon-03.png') }}" alt=""></span>
                      Regalos
                    </div>
                  </div>
                  <div>
                    <div class="thumb">                 
                      <span class="icon"><img src="{{ url_for('static', filename='images/search-icon-04.png') }}" alt=""></span>
                      Experiencias
                    </div>
                  </div>
                  <div class="last-thumb">
                    <div class="thumb">                 
                      <span class="icon"><img src="{{ url_for('static', filename='images/search-icon-05.png') }}" alt=""></span>
                      Mascotas
                    </div>
                  </div>
                </div>
              </div> 
              <div class="col-lg-9 align-self-center">
                <ul class="nacc">
                  <li class="active">
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-5 align-self-center">
                            <div class="left-text">
                              <h4>Emprendimiento de ropa</h4>
                              <p>bla bla bla.</p>
                              <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Descubrí mas</a></div>
                            </div>
                          </div>
                          <div class="col-lg-7 align-self-center">
                            <div class="right-image">
                              <img src="{{ url_for('static', filename='images/tabs-image-01.jpg') }}" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-5 align-self-center">
                            <div class="left-text">
                              <h4>Emprendimiento de comida</h4>
                              <p>bla bla bla.</p>
                              <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Descubrí mas</a></div>
                            </div>
                          </div>
                          <div class="col-lg-7 align-self-center">
                            <div class="right-image">
                              <img src="{{ url_for('static', filename='images/tabs-image-02.jpg') }}" alt="Foods on the table">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-5 align-self-center">
                            <div class="left-text">
                              <h4>Emprendimiento de regalos</h4>
                              <p>bla bla bla.</p>
                              <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Descubrí mas</a></div>
                            </div>
                          </div>
                          <div class="col-lg-7 align-self-center">
                            <div class="right-image">
                              <img src="{{ url_for('static', filename='images/tabs-image-03.jpg') }}" alt="cars in the city">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-5 align-self-center">
                            <div class="left-text">
                              <h4>Emprendimiento de ropa</h4>
                              <p>bla bla bla.</p>
                              <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Descubrí mas</a></div>
                            </div>
                          </div>
                          <div class="col-lg-7 align-self-center">
                            <div class="right-image">
                              <img src="{{ url_for('static', filename='images/tabs-image-04.jpg') }}" alt="Shopping Girl">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-5 align-self-center">
                            <div class="left-text">
                              <h4>Emprendimiento de mascotas</h4>
                              <p>bla bla bla.</p>
                              <div class="main-white-button"><a href="#"><i class="fa fa-eye"></i> Descubrí mas</a></div>
                            </div>
                          </div>
                          <div class="col-lg-7 align-self-center">
                            <div class="right-image">
                              <img src="{{ url_for('static', filename='images/tabs-image-05.jpg') }}" alt="Traveling Beach">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="recent-listing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Recién agregados</h2>
          <h6>¡Miralos!</h6>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="owl-carousel owl-listing">
          <div class="item">
            <div class="row">
              <div class="col-lg-12">
                <div class="listing-item">
                  <div class="left-image">
                    <a href="#"><img src="{{ url_for('static', filename='images/listing-01.jpg') }}" alt=""></a>
                  </div>
                  <div class="right-content align-self-center">
                    <a href="#"><h4>1. Emprendimeinto 1</h4></a>
                    <h6>nombre emprendimiento</h6>
                    <ul class="rate">
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li>(18) Reseñas</li>
                    </ul>
                    <span class="details">Detalles: <em>bla bla</em></span>
                    <ul class="info">
                      <li> bla bla</li>
                      <li> bla bla</li>
                    </ul>
                    <div class="main-white-button">
                      <a href="#"><i class="fa fa-eye"></i> Instagram</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="listing-item">
                  <div class="left-image">
                    <a href="#"><img src="{{ url_for('static', filename='images/listing-02.jpg') }}" alt=""></a>
                  </div>
                  <div class="right-content align-self-center">
                    <a href="#"><h4>2. Emprendimeinto 2</h4></a>
                    <h6>nombre emprendimiento</h6>
                    <ul class="rate">
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li>(18) Reseñas</li>
                    </ul>
                    <span class="details">Detalles: <em>bla bla</em></span>
                    <ul class="info">
                      <li> bla bla</li>
                      <li> bla bla</li>
                    </ul>
                    <div class="main-white-button">
                      <a href="#"><i class="fa fa-eye"></i> Instagram</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="listing-item">
                  <div class="left-image">
                    <a href="#"><img src="{{ url_for('static', filename='images/listing-03.jpg') }}" alt=""></a>
                  </div>
                  <div class="right-content align-self-center">
                    <a href="#"><h4>3. Emprendimeinto 3</h4></a>
                    <h6>nombre emprendimiento</h6>
                    <ul class="rate">
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li>(18) Reseñas</li>
                    </ul>
                    <span class="details">Detalles: <em>bla bla</em></span>
                    <ul class="info">
                      <li> bla bla</li>
                      <li> bla bla</li>
                    </ul>
                    <div class="main-white-button">
                      <a href="#"><i class="fa fa-eye"></i> Instagram</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-lg-12">
                <div class="listing-item">
                  <div class="left-image">
                    <a href="#"><img src="{{ url_for('static', filename='images/listing-04.jpg') }}" alt=""></a>
                  </div>
                  <div class="right-content align-self-center">
                    <a href="#"><h4>4. Emprendimeinto 4</h4></a>
                    <h6>nombre emprendimiento</h6>
                    <ul class="rate">
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li>(18) Reseñas</li>
                    </ul>
                    <span class="details">Detalles: <em>bla bla</em></span>
                    <ul class="info">
                      <li> bla bla</li>
                      <li> bla bla</li>
                    </ul>
                    <div class="main-white-button">
                      <a href="#"><i class="fa fa-eye"></i> Instagram</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="listing-item">
                  <div class="left-image">
                    <a href="#"><img src="{{ url_for('static', filename='images/listing-05.jpg') }}" alt=""></a>
                  </div>
                  <div class="right-content align-self-center">
                    <a href="#"><h4>5. Emprendimeinto 5</h4></a>
                    <h6>nombre emprendimiento</h6>
                    <ul class="rate">
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li>(18) Reseñas</li>
                    </ul>
                    <span class="details">Detalles: <em>bla bla</em></span>
                    <ul class="info">
                      <li> bla bla</li>
                      <li> bla bla</li>
                    </ul>
                    <div class="main-white-button">
                      <a href="#"><i class="fa fa-eye"></i> Instagram</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="listing-item">
                  <div class="left-image">
                    <a href="#"><img src="{{ url_for('static', filename='images/listing-06.jpg') }}" alt=""></a>
                  </div>
                  <div class="right-content align-self-center">
                    <a href="#"><h4>6. Emprendimeinto 6</h4></a>
                    <h6>nombre emprendimiento</h6>
                    <ul class="rate">
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li>(18) Reseñas</li>
                    </ul>
                    <span class="details">Detalles: <em>bla bla</em></span>
                    <ul class="info">
                      <li> bla bla</li>
                      <li> bla bla</li>
                    </ul>
                    <div class="main-white-button">
                      <a href="#"><i class="fa fa-eye"></i> Instagram</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-lg-12">
                <div class="listing-item">
                  <div class="left-image">
                    <a href="#"><img src="{{ url_for('static', filename='images/listing-05.jpg') }}" alt=""></a>
                  </div>
                  <div class="right-content align-self-center">
                    <a href="#"><h4>7. Emprendimeinto 7</h4></a>
                    <h6>nombre emprendimiento</h6>
                    <ul class="rate">
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li>(18) Reseñas</li>
                    </ul>
                    <span class="details">Detalles: <em>bla bla</em></span>
                    <ul class="info">
                      <li> bla bla</li>
                      <li> bla bla</li>
                    </ul>
                    <div class="main-white-button">
                      <a href="#"><i class="fa fa-eye"></i> Instagram</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="listing-item">
                  <div class="left-image">
                    <a href="#"><img src="{{ url_for('static', filename='images/listing-02.jpg') }}" alt=""></a>
                  </div>
                  <div class="right-content align-self-center">
                    <a href="#"><h4>8. Emprendimeinto 8</h4></a>
                    <h6>nombre emprendimiento</h6>
                    <ul class="rate">
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li>(18) Reseñas</li>
                    </ul>
                    <span class="details">Detalles: <em>bla bla</em></span>
                    <ul class="info">
                      <li> bla bla</li>
                      <li> bla bla</li>
                    </ul>
                    <div class="main-white-button">
                      <a href="#"><i class="fa fa-eye"></i> Instagram</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="listing-item">
                  <div class="left-image">
                    <a href="#"><img src="{{ url_for('static', filename='images/listing-06.jpg') }}" alt=""></a>
                  </div>
                  <div class="right-content align-self-center">
                    <a href="#"><h4>9. Emprendimeinto 9</h4></a>
                    <h6>nombre emprendimiento</h6>
                    <ul class="rate">
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li><i class="fa fa-star-o"></i></li>
                      <li>(18) Reseñas</li>
                    </ul>
                    <span class="details">Detalles: <em>bla bla</em></span>
                    <ul class="info">
                      <li> bla bla</li>
                      <li> bla bla</li>
                    </ul>
                    <div class="main-white-button">
                      <a href="#"><i class="fa fa-eye"></i> Instagram</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
