{% extends "base.html" %}

{% block title %}Subir Emprendimiento{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <h6>¡Subí tu emprendimiento!</h6>
            <h2>Forma parte de nuestro equipo</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-content">
            <div class="row">
              <div class="col-lg-6">
                <div id="map">
                  <img src="../static/images/listing-02.jpg" width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen></img>
                </div>
              </div>
              <div class="col-lg-6 align-self-center">
                <form id="contact" action="" method="get">
                  <div class="row">
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="text" name="name" id="name" placeholder="Nombre" autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="text" name="surname" id="surname" placeholder="Apellido" autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <input type="email" name="email" id="email" placeholder="Email" required="">
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <ul>
                        <li><input type="checkbox" name="option1" value="ropa"><span>Ropa</span></li>
                        <li><input type="checkbox" name="option2" value="comida"><span>Comida</span></li>
                        <li><input type="checkbox" name="option3" value="sregalos"><span>Regalos</span></li>
                        <li><input type="checkbox" name="option4" value="experiencia"><span>Experiencia</span></li>
                        <li><input type="checkbox" name="option5" value="mascotas"><span>Mascotas</span></li>
                        <li><input type="checkbox" name="option6" value="otro"><span>Otro</span></li>
                      </ul>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <textarea name="message" type="text" class="form-control" id="message" placeholder="Descripción del emprendimiento, redes sociales" required=""></textarea>  
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="main-button "><i class="fa fa-paper-plane"></i>Enviar</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="modal" class="modal">
    <div class="modal-content">
      <div class="center">
        <h3>Inicia sesión para subir tu emprendimiento</h3>
      </div>
      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'login')">Iniciar Sesión</button>
        <button class="tablinks" onclick="openTab(event, 'register')">Registrarse</button>
      </div>

      <div id="login" class="tabcontent">
        <form>
          <label for="email" class="modal--title">Correo electrónico:</label>
          <input class="modal--input" type="email" id="email" name="email" required />

          <label for="password" class="modal--title">Contraseña:</label>
          <input class="modal--input" type="password" id="password" name="password" required />

          <button class="modal--button btn" id="ingresarLogin" type="submit">
            Iniciar sesión
          </button>
        </form>
      </div>

      <div id="register" class="tabcontent" style="display:none">
        <form>
          <label for="regName" class="modal--title">Nombre:</label>
          <input class="modal--input" type="text" id="regName" name="name" required />

          <label for="regEmail" class="modal--title">Correo electrónico:</label>
          <input class="modal--input" type="email" id="regEmail" name="email" required />

          <label for="regPassword" class="modal--title">Contraseña:</label>
          <input class="modal--input" type="password" id="regPassword" name="password" required />

          <button class="modal--button btn" id="registrar" type="submit">
            Registrarse
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}