{% extends "base.html" %}
{% block title %}Subir Emprendimiento{% endblock %}

{% block content %}
  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">
            <h6>¡Subí tu emprendimiento!</h6>
            <h2>Forma parte de nuestro equipo</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-content">
            <div class="row">
              <div class="col-lg-6">
                <div id="map">
                  <img src="../static/images/form.jpg" width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen></img>
                </div>
              </div>
              <div class="col-lg-6 align-self-center">
                <form id="contact" action="" method="get">
                  <div class="row">
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="text" name="name" id="name" placeholder="Nombre" autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="text" name="surname" id="surname" placeholder="Apellido" autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email" required="">
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <ul>
                        <li><input type="checkbox" name="category" value="ropa"><span>Ropa</span></li>
                        <li><input type="checkbox" name="category" value="comida"><span>Comida</span></li>
                        <li><input type="checkbox" name="category" value="regalos"><span>Regalos</span></li>
                        <li><input type="checkbox" name="category" value="experiencia"><span>Experiencia</span></li>
                        <li><input type="checkbox" name="category" value="mascotas"><span>Mascotas</span></li>
                        <li><input type="checkbox" name="category" value="otro"><span>Otro</span></li>
                      </ul>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <textarea name="description" type="text" class="form-control" id="message" placeholder="Descripción del emprendimiento, redes sociales" required=""></textarea>  
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="main-button "><i class="fa fa-paper-plane"></i>Enviar</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}