{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

  <div class="login-page">

    <div class="content">
      <div class="center">
        <h3>Inicia sesión para subir tu emprendimiento</h3>
      </div>
      <div class="tab">
        <button class="tablinks" id="loginTab">Iniciar Sesión</button>
        <button class="tablinks" id="registerTab">Registrarse</button>
      </div>

      <div id="login" class="tabcontent">
        <form action="{{ url_for('iniciar_sesion') }}" method="POST">
          <label for="email" class="loginTitulo">Correo electrónico:</label>
          <input class="loginInput" type="email" id="email" name="email" required />

          <label for="password" class="loginTitulo">Contraseña:</label>
          <input class="loginInput" type="password" id="password" name="contraseña" required />

          <button class="loginButton btn" id="ingresarLogin" type="submit">
            Iniciar sesión
          </button>
        </form>
      </div>

      <div id="register" class="tabcontent">
        <form action="{{ url_for('registrar_usuario') }}" method="POST">
          <label for="regEmail" class="loginTitulo">Correo electrónico:</label>
          <input class="loginInput" type="email" id="regEmail" name="email" required>

          <label for="regPassword" class="loginTitulo">Contraseña:</label>
          <input class="loginInput" type="password" id="regPassword" name="contraseña" required>

          <button class="loginButton btn" id="registrar" type="submit">
            Registrarse
          </button>
        </form>
      
      </div>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
          <br>
          <br>
          <h3>{{ message }}</h3>
      {% endfor %}
      {% endif %}
      {% endwith %}
      
    </div>
  </div>

{% endblock %}